<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>help</string>
		<key>tip</key>
		<string>help info</string>
		<key>code</key>
		<string>this is a help info &lt;##&gt;;</string>
	</dict>
	<dict>
		<key>key</key>
		<string>haha</string>
		<key>tip</key>
		<string>test</string>
		<key>code</key>
		<string>[@{} mutableCopy];</string>
	</dict>
	<dict>
		<key>key</key>
		<string>kevin</string>
		<key>tip</key>
		<string>kevin</string>
		<key>code</key>
		<string>kevin is a good boy;</string>
	</dict>
</array>
</plist>
